In [1]:
# NYC Pluto Data
# https://www1.nyc.gov/site/planning/data-maps/open-data/dwn-pluto-mappluto.page
# Release 19v2

In [6]:
# import Dependencies
import pandas as pd
import numpy as np

In [3]:
# data
csv_path = "pluto_19v2.csv"
nyc_pluto_all = pd.read_csv(csv_path, encoding="utf-8")

/Users/djferrera/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (17,18,20,22,24,62,96) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# view data
nyc_pluto_all.head()

,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,...,rpaddate,dcasdate,zoningdate,landmkdate,basempdate,masdate,polidate,edesigdate,geom,dcpedited
0,QN,3611,54,405.0,613.01,3002.0,24.0,30.0,11385.0,L135,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000005...,NaN
1,QN,3611,57,405.0,613.01,3002.0,24.0,30.0,11385.0,L135,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000005...,NaN
2,BK,2566,4,301.0,565.00,1009.0,14.0,33.0,11222.0,L106,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000005...,NaN
3,BX,4403,1,211.0,310.00,1006.0,11.0,13.0,10469.0,E066,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E6100000010000000103000000010000000B...,NaN
4,BX,4403,12,211.0,310.00,1006.0,11.0,13.0,10469.0,E066,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000008...,NaN

In [10]:
# separate data by borough - BRONX
bronx_pluto = nyc_pluto_all[nyc_pluto_all['borough'] == ('BX')]

In [13]:
# view data
bronx_pluto.head()

,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,...,rpaddate,dcasdate,zoningdate,landmkdate,basempdate,masdate,polidate,edesigdate,geom,dcpedited
3,BX,4403,1,211.0,310.0,1006.0,11.0,13.0,10469.0,E066,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E6100000010000000103000000010000000B...,NaN
4,BX,4403,12,211.0,310.0,1006.0,11.0,13.0,10469.0,E066,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000008...,NaN
10,BX,4404,46,211.0,310.0,2006.0,11.0,13.0,10469.0,E066,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000007...,NaN
12,BX,4404,48,211.0,310.0,2006.0,11.0,13.0,10469.0,E066,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000006...,NaN
13,BX,4405,3,211.0,310.0,2007.0,11.0,13.0,10469.0,E066,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000005...,NaN

In [22]:
# save as csv
bronx_pluto.to_csv('bronx_pluto.csv')

In [14]:
# separate data by borough - BROOKLYN
brooklyn_pluto = nyc_pluto_all[nyc_pluto_all['borough'] == ('BK')]

In [15]:
# view data
brooklyn_pluto.head()

,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,...,rpaddate,dcasdate,zoningdate,landmkdate,basempdate,masdate,polidate,edesigdate,geom,dcpedited
2,BK,2566,4,301.0,565.0,1009.0,14.0,33.0,11222.0,L106,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000005...,NaN
5,BK,8661,40,313.0,364.0,2003.0,21.0,48.0,11235.0,E245,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000005...,NaN
6,BK,8661,41,313.0,364.0,2003.0,21.0,48.0,11235.0,E245,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000005...,NaN
7,BK,8662,191,313.0,364.0,2004.0,21.0,48.0,11235.0,E245,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000006...,NaN
8,BK,8662,195,313.0,364.0,2004.0,21.0,48.0,11235.0,E245,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000006...,NaN

In [16]:
# separate data by borough - MANHATTAN
manhattan_pluto = nyc_pluto_all[nyc_pluto_all['borough'] == ('MN')]

In [17]:
# view data
manhattan_pluto.head()

,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,...,rpaddate,dcasdate,zoningdate,landmkdate,basempdate,masdate,polidate,edesigdate,geom,dcpedited
70,MN,1265,8040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,NaN,NaN
103,MN,790,15,104.0,81.0,4000.0,2.0,3.0,10011.0,L012,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,NaN,NaN
104,MN,1280,9090,105.0,92.0,1009.0,2.0,4.0,10017.0,E021,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,NaN,NaN
117,MN,25,19,101.0,9.0,1000.0,2.0,1.0,10004.0,L015,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,NaN,NaN
123,MN,1072,1300,104.0,129.0,2007.0,2.0,3.0,10036.0,E054,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,NaN,NaN

In [18]:
# separate data by borough - QUEENS
queens_pluto = nyc_pluto_all[nyc_pluto_all['borough'] == ('QN')]

In [19]:
# view data
queens_pluto.head()

,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,...,rpaddate,dcasdate,zoningdate,landmkdate,basempdate,masdate,polidate,edesigdate,geom,dcpedited
0,QN,3611,54,405.0,613.01,3002.0,24.0,30.0,11385.0,L135,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000005...,NaN
1,QN,3611,57,405.0,613.01,3002.0,24.0,30.0,11385.0,L135,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000005...,NaN
9,QN,78,1134,402.0,7.00,2000.0,30.0,26.0,11101.0,L115,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,NaN,NaN
11,QN,3612,25,405.0,613.01,3005.0,24.0,30.0,11385.0,L135,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000005...,NaN
19,QN,15500,18,414.0,1072.01,1014.0,27.0,32.0,11693.0,E266,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000006...,NaN

In [20]:
# separate data by borough - STATEN ISLAND
staten_island_pluto = nyc_pluto_all[nyc_pluto_all['borough'] == ('SI')]

In [21]:
# view data
staten_island_pluto.head()

,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,...,rpaddate,dcasdate,zoningdate,landmkdate,basempdate,masdate,polidate,edesigdate,geom,dcpedited
23,SI,5472,63,503.0,146.07,2008.0,31.0,51.0,10308.0,L082,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000006...,NaN
24,SI,5742,81,503.0,170.07,2009.0,31.0,51.0,10312.0,E167,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000006...,NaN
131,SI,524,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,NaN,NaN
134,SI,3405,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,NaN,NaN
161,SI,3150,1,502.0,9901.00,3.0,NaN,50.0,NaN,NaN,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E6100000010000000103000000010000000F...,NaN

In [24]:
# limited data
csv_path_2 = "pluto_19v2_limit.csv"
nyc_pluto_limit = pd.read_csv(csv_path_2, encoding="utf-8")

/Users/djferrera/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
# view data - limited, more managable
nyc_pluto_limit.head()

,borough,block,lot,zipcode,address,zonedist1,bldgclass,landuse,lotarea,bldgarea,...,yearbuilt,histdist,landmark,borocode,bbl,xcoord,ycoord,zonemap,geom,dcpedited
0,QN,3611,54.0,11385.0,61-27 GATES AVENUE,R5B,B1,1.0,2000.0,2910.0,...,1901.0,NaN,NaN,4.0,4.036110e+09,1012671.0,197789.0,13d,0106000020E61000000100000001030000000100000005...,NaN
1,QN,3611,57.0,11385.0,61-19 GATES AVENUE,R5B,B1,1.0,2000.0,2910.0,...,1901.0,NaN,NaN,4.0,4.036110e+09,1012595.0,197764.0,13d,0106000020E61000000100000001030000000100000005...,NaN
2,BK,2566,4.0,11222.0,118 FRANKLIN STREET,R6B,C3,2.0,1750.0,3450.0,...,1930.0,Greenpoint Historic District,NaN,3.0,3.025660e+09,996120.0,204802.0,12c,0106000020E61000000100000001030000000100000005...,NaN
3,BX,4403,1.0,10469.0,2203 WICKHAM AVENUE,R3X,A1,1.0,4078.0,1558.0,...,1940.0,NaN,NaN,2.0,2.044030e+09,1029732.0,251913.0,4a,0106000020E6100000010000000103000000010000000B...,NaN
4,BX,4403,12.0,10469.0,2214 GUNTHER AVENUE,R3X,A1,1.0,5367.0,1582.0,...,1940.0,NaN,NaN,2.0,2.044030e+09,1029618.0,251931.0,4a,0106000020E61000000100000001030000000100000008...,NaN

In [27]:
# new column for neighborhood - based on zip code
nyc_pluto_limit['neighborhood'] = nyc_pluto_limit['zipcode']
nyc_pluto_limit.head()

,borough,block,lot,zipcode,address,zonedist1,bldgclass,landuse,lotarea,bldgarea,...,histdist,landmark,borocode,bbl,xcoord,ycoord,zonemap,geom,dcpedited,neighborhood
0,QN,3611,54.0,11385.0,61-27 GATES AVENUE,R5B,B1,1.0,2000.0,2910.0,...,NaN,NaN,4.0,4.036110e+09,1012671.0,197789.0,13d,0106000020E61000000100000001030000000100000005...,NaN,11385.0
1,QN,3611,57.0,11385.0,61-19 GATES AVENUE,R5B,B1,1.0,2000.0,2910.0,...,NaN,NaN,4.0,4.036110e+09,1012595.0,197764.0,13d,0106000020E61000000100000001030000000100000005...,NaN,11385.0
2,BK,2566,4.0,11222.0,118 FRANKLIN STREET,R6B,C3,2.0,1750.0,3450.0,...,Greenpoint Historic District,NaN,3.0,3.025660e+09,996120.0,204802.0,12c,0106000020E61000000100000001030000000100000005...,NaN,11222.0
3,BX,4403,1.0,10469.0,2203 WICKHAM AVENUE,R3X,A1,1.0,4078.0,1558.0,...,NaN,NaN,2.0,2.044030e+09,1029732.0,251913.0,4a,0106000020E6100000010000000103000000010000000B...,NaN,10469.0
4,BX,4403,12.0,10469.0,2214 GUNTHER AVENUE,R3X,A1,1.0,5367.0,1582.0,...,NaN,NaN,2.0,2.044030e+09,1029618.0,251931.0,4a,0106000020E61000000100000001030000000100000008...,NaN,10469.0

In [93]:
nyc_pluto_limit['neighborhood'].replace(10453.0, 'Central Bronx',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10457.0, 'Central Bronx',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10460.0, 'Central Bronx',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10458.0, 'Bronx Park and Fordham',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10467.0, 'Bronx Park and Fordham',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10468.0, 'Bronx Park and Fordham',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10451.0, 'High Bridge and Morrisania',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10452.0, 'High Bridge and Morrisania',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10456.0, 'High Bridge and Morrisania',inplace=True)
#
nyc_pluto_limit['neighborhood'].replace(10459.0, 'High Bridge and Morrisania',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10454.0, 'Hunts Point and Mott Haven',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10455.0, 'Hunts Point and Mott Haven',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10455.0, 'Hunts Point and Mott Haven',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10474.0, 'Hunts Point and Mott Haven',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10463.0, 'Kingsbridge and Riverdale',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10471.0, 'Kingsbridge and Riverdale',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10466.0, 'Northeast Bronx',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10469.0, 'Northeast Bronx',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10470.0, 'Northeast Bronx',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10475.0, 'Northeast Bronx',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10461.0, 'Southeast Bronx',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10462.0, 'Southeast Bronx',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10464.0, 'Southeast Bronx',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10465.0, 'Southeast Bronx',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10472.0, 'Southeast Bronx',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10473.0, 'Southeast Bronx',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11212.0, 'Central Brooklyn',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11213.0, 'Central Brooklyn',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11216.0, 'Central Brooklyn',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11233.0, 'Central Brooklyn',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11238.0, 'Central Brooklyn',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11209.0, 'Southwest Brooklyn',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11214.0, 'Southwest Brooklyn',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11228.0, 'Southwest Brooklyn',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11204.0, 'Borough Park',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11218.0, 'Borough Park',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11219.0, 'Borough Park',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11230.0, 'Borough Park',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11234.0, 'Canarsie and Flatlands',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11236.0, 'Canarsie and Flatlands',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11239.0, 'Canarsie and Flatlands',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11223.0, 'Southern Brooklyn',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11224.0, 'Southern Brooklyn',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11229.0, 'Southern Brooklyn',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11235.0, 'Southern Brooklyn',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11201.0, 'Northwest Brooklyn',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11205.0, 'Northwest Brooklyn',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11215.0, 'Northwest Brooklyn',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11217.0, 'Northwest Brooklyn',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11231.0, 'Northwest Brooklyn',inplace=True)
#
nyc_pluto_limit['neighborhood'].replace(11241.0, 'Northwest Brooklyn',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11203.0, 'Flatbush',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11210.0, 'Flatbush',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11225.0, 'Flatbush',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11226.0, 'Flatbush',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11207.0, 'East New York and New Lots',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11208.0, 'East New York and New Lots',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11211.0, 'Greenpoint',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11222.0, 'Greenpoint',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11220.0, 'Sunset Park',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11232.0, 'Sunset Park',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11206.0, 'Bushwick and Williamsburg',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11221.0, 'Bushwick and Williamsburg',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11237.0, 'Bushwick and Williamsburg',inplace=True)
#
nyc_pluto_limit['neighborhood'].replace(11249.0, 'Bushwick and Williamsburg',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11251.0, 'Bushwick and Williamsburg',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10026.0, 'Central Harlem',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10027.0, 'Central Harlem',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10030.0, 'Central Harlem',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10037.0, 'Central Harlem',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10039.0, 'Central Harlem',inplace=True)
#
nyc_pluto_limit['neighborhood'].replace(12345.0, 'Central Harlem',inplace=True)


nyc_pluto_limit['neighborhood'].replace(10001.0, 'Chelsea and Clinton',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10011.0, 'Chelsea and Clinton',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10018.0, 'Chelsea and Clinton',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10019.0, 'Chelsea and Clinton',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10020.0, 'Chelsea and Clinton',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10036.0, 'Chelsea and Clinton',inplace=True)
#
nyc_pluto_limit['neighborhood'].replace(10105.0, 'Chelsea and Clinton',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10106.0, 'Chelsea and Clinton',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10120.0, 'Chelsea and Clinton',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10121.0, 'Chelsea and Clinton',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10122.0, 'Chelsea and Clinton',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10123.0, 'Chelsea and Clinton',inplace=True)


nyc_pluto_limit['neighborhood'].replace(10029.0, 'East Harlem',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10035.0, 'East Harlem',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10010.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10016.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10017.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10022.0, 'Gramercy Park and Murray Hill',inplace=True)
#
nyc_pluto_limit['neighborhood'].replace(10055.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10103.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10110.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10118.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10119.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10151.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10152.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10155.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10158.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10165.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10169.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10170.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10175.0, 'Gramercy Park and Murray Hill',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10176.0, 'Gramercy Park and Murray Hill',inplace=True)


nyc_pluto_limit['neighborhood'].replace(10012.0, 'Greenwich Village and Soho',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10013.0, 'Greenwich Village and Soho',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10014.0, 'Greenwich Village and Soho',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10004.0, 'Lower Manhattan',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10005.0, 'Lower Manhattan',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10006.0, 'Lower Manhattan',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10007.0, 'Lower Manhattan',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10038.0, 'Lower Manhattan',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10280.0, 'Lower Manhattan',inplace=True)
#
nyc_pluto_limit['neighborhood'].replace(10045.0, 'Lower Manhattan',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10271.0, 'Lower Manhattan',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10278.0, 'Lower Manhattan',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10281.0, 'Lower Manhattan',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10282.0, 'Lower Manhattan',inplace=True)


nyc_pluto_limit['neighborhood'].replace(10002.0, 'Lower East Side',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10003.0, 'Lower East Side',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10009.0, 'Lower East Side',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10021.0, 'Upper East Side',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10028.0, 'Upper East Side',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10044.0, 'Upper East Side',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10065.0, 'Upper East Side',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10075.0, 'Upper East Side',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10128.0, 'Upper East Side',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10023.0, 'Upper West Side',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10024.0, 'Upper West Side',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10025.0, 'Upper West Side',inplace=True)
#
nyc_pluto_limit['neighborhood'].replace(10069.0, 'Upper West Side',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10031.0, 'Inwood and Washington Heights',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10032.0, 'Inwood and Washington Heights',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10033.0, 'Inwood and Washington Heights',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10034.0, 'Inwood and Washington Heights',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10040.0, 'Inwood and Washington Heights',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11361.0, 'Northeast Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11362.0, 'Northeast Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11363.0, 'Northeast Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11364.0, 'Northeast Queens',inplace=True)
#
nyc_pluto_limit['neighborhood'].replace(11430.0, 'Northeast Queens',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11354.0, 'North Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11355.0, 'North Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11356.0, 'North Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11357.0, 'North Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11358.0, 'North Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11359.0, 'North Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11360.0, 'North Queens',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11365.0, 'Central Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11366.0, 'Central Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11367.0, 'Central Queens',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11412.0, 'Jamaica',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11423.0, 'Jamaica',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11432.0, 'Jamaica',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11433.0, 'Jamaica',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11434.0, 'Jamaica',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11435.0, 'Jamaica',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11436.0, 'Jamaica',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11101.0, 'Northwest Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11102.0, 'Northwest Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11103.0, 'Northwest Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11104.0, 'Northwest Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11105.0, 'Northwest Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11106.0, 'Northwest Queens',inplace=True)
#
nyc_pluto_limit['neighborhood'].replace(11109.0, 'Northwest Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11371.0, 'Northwest Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11451.0, 'Northwest Queens',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11374.0, 'West Central Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11375.0, 'West Central Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11379.0, 'West Central Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11385.0, 'West Central Queens',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11691.0, 'Rockaways',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11692.0, 'Rockaways',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11693.0, 'Rockaways',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11694.0, 'Rockaways',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11695.0, 'Rockaways',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11697.0, 'Rockaways',inplace=True)
#
nyc_pluto_limit['neighborhood'].replace(11096.0, 'Rockaways',inplace=True)


nyc_pluto_limit['neighborhood'].replace(11004.0, 'Southeast Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11005.0, 'Southeast Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11411.0, 'Southeast Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11413.0, 'Southeast Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11422.0, 'Southeast Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11426.0, 'Southeast Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11427.0, 'Southeast Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11428.0, 'Southeast Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11429.0, 'Southeast Queens',inplace=True)
#
nyc_pluto_limit['neighborhood'].replace(11001.0, 'West Central Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11040.0, 'West Central Queens',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11414.0, 'Southwest Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11415.0, 'Southwest Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11416.0, 'Southwest Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11417.0, 'Southwest Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11418.0, 'Southwest Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11419.0, 'Southwest Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11420.0, 'Southwest Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11421.0, 'Southwest Queens',inplace=True)

nyc_pluto_limit['neighborhood'].replace(11368.0, 'West Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11369.0, 'West Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11370.0, 'West Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11372.0, 'West Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11373.0, 'West Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11377.0, 'West Queens',inplace=True)
nyc_pluto_limit['neighborhood'].replace(11378.0, 'West Queens',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10302.0, 'Port Richmond',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10303.0, 'Port Richmond',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10310.0, 'Port Richmond',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10306.0, 'South Shore',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10307.0, 'South Shore',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10308.0, 'South Shore',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10309.0, 'South Shore',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10312.0, 'South Shore',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10301.0, 'Stapleton and St. George',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10304.0, 'Stapleton and St. George',inplace=True)
nyc_pluto_limit['neighborhood'].replace(10305.0, 'Stapleton and St. George',inplace=True)

nyc_pluto_limit['neighborhood'].replace(10314.0, 'Mid-Island',inplace=True)

nyc_pluto_limit.head()

,borough,block,lot,zipcode,address,zonedist1,bldgclass,landuse,lotarea,bldgarea,...,landmark,borocode,bbl,xcoord,ycoord,zonemap,geom,dcpedited,neighborhood,use
0,QN,3611,54.0,11385.0,61-27 GATES AVENUE,R5B,B1,1.0,2000.0,2910.0,...,NaN,4.0,4.036110e+09,1012671.0,197789.0,13d,0106000020E61000000100000001030000000100000005...,NaN,West Central Queens,1.0
1,QN,3611,57.0,11385.0,61-19 GATES AVENUE,R5B,B1,1.0,2000.0,2910.0,...,NaN,4.0,4.036110e+09,1012595.0,197764.0,13d,0106000020E61000000100000001030000000100000005...,NaN,West Central Queens,1.0
2,BK,2566,4.0,11222.0,118 FRANKLIN STREET,R6B,C3,2.0,1750.0,3450.0,...,NaN,3.0,3.025660e+09,996120.0,204802.0,12c,0106000020E61000000100000001030000000100000005...,NaN,Greenpoint,2.0
3,BX,4403,1.0,10469.0,2203 WICKHAM AVENUE,R3X,A1,1.0,4078.0,1558.0,...,NaN,2.0,2.044030e+09,1029732.0,251913.0,4a,0106000020E6100000010000000103000000010000000B...,NaN,Northeast Bronx,1.0
4,BX,4403,12.0,10469.0,2214 GUNTHER AVENUE,R3X,A1,1.0,5367.0,1582.0,...,NaN,2.0,2.044030e+09,1029618.0,251931.0,4a,0106000020E61000000100000001030000000100000008...,NaN,Northeast Bronx,1.0

In [94]:
# new column for landuse
nyc_pluto_limit['use'] = nyc_pluto_limit['landuse']

In [95]:
nyc_pluto_limit['use'].replace(1.0, 'Central One & Two Family Buildings',inplace=True)
nyc_pluto_limit['use'].replace(2.0, 'Multi-Family Walk-Up Buildings',inplace=True)
nyc_pluto_limit['use'].replace(3.0, 'Multi-Family Elevator Buildings',inplace=True)
nyc_pluto_limit['use'].replace(4.0, 'Mixed Residential & Commercial Buildings',inplace=True)
nyc_pluto_limit['use'].replace(5.0, 'Commercial & Office Buildings',inplace=True)
nyc_pluto_limit['use'].replace(6.0, 'Industrial & Manufacturing',inplace=True)
nyc_pluto_limit['use'].replace(7.0, 'Transportation & Utility',inplace=True)
nyc_pluto_limit['use'].replace(8.0, 'Public Facilities & Institutions',inplace=True)
nyc_pluto_limit['use'].replace(9.0, 'Open Space & Outdoor Recreation',inplace=True)
nyc_pluto_limit['use'].replace(10.0, 'Parking Facilities',inplace=True)
nyc_pluto_limit['use'].replace(11.0, 'Vacant Land',inplace=True)
nyc_pluto_limit.head()

,borough,block,lot,zipcode,address,zonedist1,bldgclass,landuse,lotarea,bldgarea,...,landmark,borocode,bbl,xcoord,ycoord,zonemap,geom,dcpedited,neighborhood,use
0,QN,3611,54.0,11385.0,61-27 GATES AVENUE,R5B,B1,1.0,2000.0,2910.0,...,NaN,4.0,4.036110e+09,1012671.0,197789.0,13d,0106000020E61000000100000001030000000100000005...,NaN,West Central Queens,Central One & Two Family Buildings
1,QN,3611,57.0,11385.0,61-19 GATES AVENUE,R5B,B1,1.0,2000.0,2910.0,...,NaN,4.0,4.036110e+09,1012595.0,197764.0,13d,0106000020E61000000100000001030000000100000005...,NaN,West Central Queens,Central One & Two Family Buildings
2,BK,2566,4.0,11222.0,118 FRANKLIN STREET,R6B,C3,2.0,1750.0,3450.0,...,NaN,3.0,3.025660e+09,996120.0,204802.0,12c,0106000020E61000000100000001030000000100000005...,NaN,Greenpoint,Multi-Family Walk-Up Buildings
3,BX,4403,1.0,10469.0,2203 WICKHAM AVENUE,R3X,A1,1.0,4078.0,1558.0,...,NaN,2.0,2.044030e+09,1029732.0,251913.0,4a,0106000020E6100000010000000103000000010000000B...,NaN,Northeast Bronx,Central One & Two Family Buildings
4,BX,4403,12.0,10469.0,2214 GUNTHER AVENUE,R3X,A1,1.0,5367.0,1582.0,...,NaN,2.0,2.044030e+09,1029618.0,251931.0,4a,0106000020E61000000100000001030000000100000008...,NaN,Northeast Bronx,Central One & Two Family Buildings

In [96]:
# save as csv
nyc_pluto_limit.to_csv('nyc_pluto_limit.csv')

In [97]:
# land use by percentage of total (tax lots?) per neighborhood

In [101]:
nyc_pluto_limit[['neighborhood']].eq(1).sum()

NameError: name 'nyc_pluto_neighborhood' is not defined

In [41]:
# separate data by neighborhood - Central Bronx
nyc_pluto_central_bronx = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Central Bronx')]

# save as csv
nyc_pluto_central_bronx.to_csv('nyc_pluto_central_bronx.csv')

In [44]:
# separate data by neighborhood - Bronx Park and Fordham
nyc_pluto_bronx_park_fordham = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Bronx Park and Fordham')]

# save as csv
nyc_pluto_bronx_park_fordham.to_csv('nyc_pluto_bronx_park_fordham.csv')

In [45]:
# separate data by neighborhood - High Bridge and Morrisania
nyc_pluto_high_bridge_morrisania = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('High Bridge and Morrisania')]

# save as csv
nyc_pluto_high_bridge_morrisania.to_csv('nyc_pluto_high_bridge_morrisania.csv')

In [46]:
# separate data by neighborhood - Hunts Point and Mott Haven
nyc_pluto_hunts_point_mott_haven = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Hunts Point and Mott Haven')]

# save as csv
nyc_pluto_hunts_point_mott_haven.to_csv('nyc_pluto_hunts_point_mott_haven.csv')

In [47]:
# separate data by neighborhood - Kingsbridge and Riverdale
nyc_pluto_kingsbridge_riverdale = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Kingsbridge and Riverdale')]

# save as csv
nyc_pluto_kingsbridge_riverdale.to_csv('nyc_pluto_kingsbridge_riverdale.csv')

In [48]:
# separate data by neighborhood - Northeast Bronx
nyc_pluto_northeast_bronx = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Northeast Bronx')]

# save as csv
nyc_pluto_northeast_bronx.to_csv('nyc_pluto_northeast_bronx.csv')

In [49]:
# separate data by neighborhood - Southeast Bronx
nyc_pluto_southeast_bronx = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Southeast Bronx')]

# save as csv
nyc_pluto_southeast_bronx.to_csv('nyc_pluto_southeast_bronx.csv')

In [50]:
# separate data by neighborhood - Central Brooklyn
nyc_pluto_central_brooklyn = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Central Brooklyn')]

# save as csv
nyc_pluto_central_brooklyn.to_csv('nyc_pluto_central_brooklyn.csv')

In [51]:
# separate data by neighborhood - Southwest Brooklyn
nyc_pluto_southwest_brooklyn = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Southwest Brooklyn')]

# save as csv
nyc_pluto_southwest_brooklyn.to_csv('nyc_pluto_southwest_brooklyn.csv')

In [52]:
# separate data by neighborhood - Borough Park
nyc_pluto_borough_park = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Borough Park')]

# save as csv
nyc_pluto_borough_park.to_csv('nyc_pluto_borough_park.csv')

In [53]:
# separate data by neighborhood - Canarsie and Flatlands
nyc_pluto_canarsie_flatlands = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Canarsie and Flatlands')]

# save as csv
nyc_pluto_canarsie_flatlands.to_csv('nyc_pluto_canarsie_flatlands.csv')

In [54]:
# separate data by neighborhood - Southern Brooklyn
nyc_pluto_southern_brooklyn = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Southern Brooklyn')]

# save as csv
nyc_pluto_southern_brooklyn.to_csv('nyc_pluto_southern_brooklyn.csv')

In [55]:
# separate data by neighborhood - Northwest Brooklyn
nyc_pluto_northwest_brooklyn = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Northwest Brooklyn')]

# save as csv
nyc_pluto_northwest_brooklyn.to_csv('nyc_pluto_northwest_brooklyn.csv')

In [56]:
# separate data by neighborhood - Flatbush
nyc_pluto_flatbush = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Flatbush')]

# save as csv
nyc_pluto_flatbush.to_csv('nyc_pluto_flatbush.csv')

In [57]:
# separate data by neighborhood - East New York and New Lots
nyc_pluto_east_ny_new_lots = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('East New York and New Lots')]

# save as csv
nyc_pluto_east_ny_new_lots.to_csv('nyc_pluto_east_ny_new_lots.csv')

In [58]:
# separate data by neighborhood - Greenpoint
nyc_pluto_greenpoint = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Greenpoint')]

# save as csv
nyc_pluto_greenpoint.to_csv('nyc_pluto_greenpoint.csv')

In [59]:
# separate data by neighborhood - Sunset Park
nyc_pluto_sunset_park = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Sunset Park')]

# save as csv
nyc_pluto_sunset_park.to_csv('nyc_pluto_sunset_park.csv')

In [60]:
# separate data by neighborhood - Bushwick and Williamsburg
nyc_pluto_bushwick_williamsburg = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Bushwick and Williamsburg')]

# save as csv
nyc_pluto_bushwick_williamsburg.to_csv('nyc_pluto_bushwick_williamsburg.csv')

In [61]:
# separate data by neighborhood - Central Harlem
nyc_pluto_central_harlem = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Central Harlem')]

# save as csv
nyc_pluto_central_harlem.to_csv('nyc_pluto_central_harlem.csv')

In [62]:
# separate data by neighborhood - Chelsea and Clinton
nyc_pluto_chelasea_clinton = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Chelsea and Clinton')]

# save as csv
nyc_pluto_chelasea_clinton.to_csv('nyc_pluto_chelasea_clinton.csv')

In [63]:
# separate data by neighborhood - East Harlem
nyc_pluto_east_harlem = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('East Harlem')]

# save as csv
nyc_pluto_east_harlem.to_csv('nyc_pluto_east_harlem.csv')

In [87]:
# separate data by neighborhood - Gramercy Park and Murray Hill
nyc_pluto_gramercy_park_murray_hill = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Gramercy Park and Murray Hill')]

# save as csv
nyc_pluto_gramercy_park_murray_hill.to_csv('nyc_pluto_gramercy_park_murray_hill.csv')

In [65]:
# separate data by neighborhood - Greenwich Village and Soho
nyc_pluto_greenwich_village_soho = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Greenwich Village and Soho')]

# save as csv
nyc_pluto_greenwich_village_soho.to_csv('nyc_pluto_greenwich_village_soho.csv')

In [66]:
# separate data by neighborhood - Lower Manhattan
nyc_pluto_lower_manhattan = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Lower Manhattan')]

# save as csv
nyc_pluto_lower_manhattan.to_csv('nyc_pluto_lower_manhattan.csv')

In [67]:
# separate data by neighborhood - Lower East Side
nyc_pluto_lower_east_side = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Lower East Side')]

# save as csv
nyc_pluto_lower_east_side.to_csv('nyc_pluto_lower_east_side.csv')

In [68]:
# separate data by neighborhood - Upper East Side
nyc_pluto_upper_east_side = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Upper East Side')]

# save as csv
nyc_pluto_upper_east_side.to_csv('nyc_pluto_upper_east_side.csv')

In [69]:
# separate data by neighborhood - Upper West Side
nyc_pluto_upper_west_side = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Upper West Side')]

# save as csv
nyc_pluto_upper_west_side.to_csv('nyc_pluto_upper_west_side.csv')

In [70]:
# separate data by neighborhood - Inwood and Washington Heights
nyc_pluto_inwood_wshington_heights = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Inwood and Washington Heights')]

# save as csv
nyc_pluto_inwood_wshington_heights.to_csv('nyc_pluto_inwood_wshington_heights.csv')

In [72]:
# separate data by neighborhood - Northeast Queens
nyc_pluto_northeast_queens = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Northeast Queens')]

# save as csv
nyc_pluto_northeast_queens.to_csv('nyc_pluto_northeast_queens.csv')

In [73]:
# separate data by neighborhood - North Queens
nyc_pluto_north_queens = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('North Queens')]

# save as csv
nyc_pluto_north_queens.to_csv('nyc_pluto_north_queens.csv')

In [74]:
# separate data by neighborhood - Central Queens
nyc_pluto_central_queens = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Central Queens')]

# save as csv
nyc_pluto_central_queens.to_csv('nyc_pluto_central_queens.csv')

In [75]:
# separate data by neighborhood - Jamaica
nyc_pluto_jamaica = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Jamaica')]

# save as csv
nyc_pluto_jamaica.to_csv('nyc_pluto_jamaica.csv')

In [76]:
# separate data by neighborhood - Northwest Queens
nyc_pluto_northwest_queens = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Northwest Queens')]

# save as csv
nyc_pluto_northwest_queens.to_csv('nyc_pluto_northest_queens.csv')

In [77]:
# separate data by neighborhood - West Central Queens
nyc_pluto_west_central_queens = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('West Central Queens')]

# save as csv
nyc_pluto_west_central_queens.to_csv('nyc_pluto_west_central_queens.csv')

In [79]:
# separate data by neighborhood - Rockaways
nyc_pluto_rockaways = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Rockaways')]

# save as csv
nyc_pluto_rockaways.to_csv('nyc_pluto_rockaways.csv')

In [80]:
# separate data by neighborhood - Southeast Queens
nyc_pluto_southeast_queens = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Southeast Queens')]

# save as csv
nyc_pluto_southeast_queens.to_csv('nyc_pluto_southeast_queens.csv')

In [81]:
# separate data by neighborhood - Southwest Queens
nyc_pluto_southwest_queens = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Southwest Queens')]

# save as csv
nyc_pluto_southwest_queens.to_csv('nyc_pluto_southwest_queens.csv')

In [82]:
# separate data by neighborhood - West Queens
nyc_pluto_west_queens = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('West Queens')]

# save as csv
nyc_pluto_west_queens.to_csv('nyc_pluto_west_queens.csv')

In [83]:
# separate data by neighborhood - Port Richmond
nyc_pluto_port_richmond = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Port Richmond')]

# save as csv
nyc_pluto_port_richmond.to_csv('nyc_pluto_port_richmond.csv')

In [84]:
# separate data by neighborhood - South Shore
nyc_pluto_south_shore = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('South Shore')]

# save as csv
nyc_pluto_south_shore.to_csv('nyc_pluto_south_shore.csv')

In [85]:
# separate data by neighborhood - Stapleton and St. George
nyc_pluto_stapleton_st_george = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Stapleton and St. George')]

# save as csv
nyc_pluto_stapleton_st_george.to_csv('nyc_pluto_stapleton_st_george.csv')

In [86]:
# separate data by neighborhood - Mid-Island
nyc_pluto_mid_island = nyc_pluto_limit[nyc_pluto_limit['neighborhood'] == ('Mid-Island')]

# save as csv
nyc_pluto_mid_island.to_csv('nyc_pluto_mid_island.csv')

In [1]:
nyc_pluto_limit.head()

NameError: name 'nyc_pluto_limit' is not defined