In [1]:
# NYC Pluto Data
# https://www1.nyc.gov/site/planning/data-maps/open-data/dwn-pluto-mappluto.page
# Release 19v2

In [2]:
# import Dependencies
import pandas as pd
import numpy as np

In [6]:
# data
csv_path = "/Users/djferrera/Documents/GitHub/Columbia Boot Camp/Github/NYC Snapshots/data/pluto_19v2.csv"
nyc_pluto_all = pd.read_csv(csv_path, encoding="utf-8")

/Users/djferrera/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (17,18,20,22,24,62,96) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
# view data
nyc_pluto_all.head()

,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,...,rpaddate,dcasdate,zoningdate,landmkdate,basempdate,masdate,polidate,edesigdate,geom,dcpedited
0,QN,3611,54,405.0,613.01,3002.0,24.0,30.0,11385.0,L135,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000005...,NaN
1,QN,3611,57,405.0,613.01,3002.0,24.0,30.0,11385.0,L135,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000005...,NaN
2,BK,2566,4,301.0,565.00,1009.0,14.0,33.0,11222.0,L106,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000005...,NaN
3,BX,4403,1,211.0,310.00,1006.0,11.0,13.0,10469.0,E066,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E6100000010000000103000000010000000B...,NaN
4,BX,4403,12,211.0,310.00,1006.0,11.0,13.0,10469.0,E066,...,07/06/2019,11/15/2018,07/29/2019,07/05/2019,07/26/2019,NaN,NaN,05/31/2019,0106000020E61000000100000001030000000100000008...,NaN

In [20]:
# separate data by borough - STATEN ISLAND
# staten_island_pluto = nyc_pluto_all[nyc_pluto_all['borough'] == ('SI')]

In [9]:
# limited data
csv_path_2 = "/Users/djferrera/Documents/GitHub/Columbia Boot Camp/Github/NYC Snapshots/data/pluto_19v2_limit.csv"
nyc_pluto_limit = pd.read_csv(csv_path_2, encoding="utf-8")

/Users/djferrera/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
# view data - limited, more managable
nyc_pluto_limit.head()

,borough,block,lot,zipcode,address,zonedist1,bldgclass,landuse,lotarea,bldgarea,...,yearbuilt,histdist,landmark,borocode,bbl,xcoord,ycoord,zonemap,geom,dcpedited
0,QN,3611,54.0,11385.0,61-27 GATES AVENUE,R5B,B1,1.0,2000.0,2910.0,...,1901.0,NaN,NaN,4.0,4.036110e+09,1012671.0,197789.0,13d,0106000020E61000000100000001030000000100000005...,NaN
1,QN,3611,57.0,11385.0,61-19 GATES AVENUE,R5B,B1,1.0,2000.0,2910.0,...,1901.0,NaN,NaN,4.0,4.036110e+09,1012595.0,197764.0,13d,0106000020E61000000100000001030000000100000005...,NaN
2,BK,2566,4.0,11222.0,118 FRANKLIN STREET,R6B,C3,2.0,1750.0,3450.0,...,1930.0,Greenpoint Historic District,NaN,3.0,3.025660e+09,996120.0,204802.0,12c,0106000020E61000000100000001030000000100000005...,NaN
3,BX,4403,1.0,10469.0,2203 WICKHAM AVENUE,R3X,A1,1.0,4078.0,1558.0,...,1940.0,NaN,NaN,2.0,2.044030e+09,1029732.0,251913.0,4a,0106000020E6100000010000000103000000010000000B...,NaN
4,BX,4403,12.0,10469.0,2214 GUNTHER AVENUE,R3X,A1,1.0,5367.0,1582.0,...,1940.0,NaN,NaN,2.0,2.044030e+09,1029618.0,251931.0,4a,0106000020E61000000100000001030000000100000008...,NaN

In [11]:
# new column for neighborhood - based on zip code
# nyc_pluto_limit['neighborhood'] = nyc_pluto_limit['zipcode']
# nyc_pluto_limit.head()

In [12]:
# new column for landuse
nyc_pluto_limit['use'] = nyc_pluto_limit['landuse']

In [13]:
nyc_pluto_limit['use'].replace(1.0, 'Central One & Two Family Buildings',inplace=True)
nyc_pluto_limit['use'].replace(2.0, 'Multi-Family Walk-Up Buildings',inplace=True)
nyc_pluto_limit['use'].replace(3.0, 'Multi-Family Elevator Buildings',inplace=True)
nyc_pluto_limit['use'].replace(4.0, 'Mixed Residential & Commercial Buildings',inplace=True)
nyc_pluto_limit['use'].replace(5.0, 'Commercial & Office Buildings',inplace=True)
nyc_pluto_limit['use'].replace(6.0, 'Industrial & Manufacturing',inplace=True)
nyc_pluto_limit['use'].replace(7.0, 'Transportation & Utility',inplace=True)
nyc_pluto_limit['use'].replace(8.0, 'Public Facilities & Institutions',inplace=True)
nyc_pluto_limit['use'].replace(9.0, 'Open Space & Outdoor Recreation',inplace=True)
nyc_pluto_limit['use'].replace(10.0, 'Parking Facilities',inplace=True)
nyc_pluto_limit['use'].replace(11.0, 'Vacant Land',inplace=True)
nyc_pluto_limit.head()

,borough,block,lot,zipcode,address,zonedist1,bldgclass,landuse,lotarea,bldgarea,...,histdist,landmark,borocode,bbl,xcoord,ycoord,zonemap,geom,dcpedited,use
0,QN,3611,54.0,11385.0,61-27 GATES AVENUE,R5B,B1,1.0,2000.0,2910.0,...,NaN,NaN,4.0,4.036110e+09,1012671.0,197789.0,13d,0106000020E61000000100000001030000000100000005...,NaN,Central One & Two Family Buildings
1,QN,3611,57.0,11385.0,61-19 GATES AVENUE,R5B,B1,1.0,2000.0,2910.0,...,NaN,NaN,4.0,4.036110e+09,1012595.0,197764.0,13d,0106000020E61000000100000001030000000100000005...,NaN,Central One & Two Family Buildings
2,BK,2566,4.0,11222.0,118 FRANKLIN STREET,R6B,C3,2.0,1750.0,3450.0,...,Greenpoint Historic District,NaN,3.0,3.025660e+09,996120.0,204802.0,12c,0106000020E61000000100000001030000000100000005...,NaN,Multi-Family Walk-Up Buildings
3,BX,4403,1.0,10469.0,2203 WICKHAM AVENUE,R3X,A1,1.0,4078.0,1558.0,...,NaN,NaN,2.0,2.044030e+09,1029732.0,251913.0,4a,0106000020E6100000010000000103000000010000000B...,NaN,Central One & Two Family Buildings
4,BX,4403,12.0,10469.0,2214 GUNTHER AVENUE,R3X,A1,1.0,5367.0,1582.0,...,NaN,NaN,2.0,2.044030e+09,1029618.0,251931.0,4a,0106000020E61000000100000001030000000100000008...,NaN,Central One & Two Family Buildings

In [14]:
# save as csv
nyc_pluto_limit.to_csv('nyc_pluto_limit.csv')

In [15]:
nyc_pluto_limit.head()

,borough,block,lot,zipcode,address,zonedist1,bldgclass,landuse,lotarea,bldgarea,...,histdist,landmark,borocode,bbl,xcoord,ycoord,zonemap,geom,dcpedited,use
0,QN,3611,54.0,11385.0,61-27 GATES AVENUE,R5B,B1,1.0,2000.0,2910.0,...,NaN,NaN,4.0,4.036110e+09,1012671.0,197789.0,13d,0106000020E61000000100000001030000000100000005...,NaN,Central One & Two Family Buildings
1,QN,3611,57.0,11385.0,61-19 GATES AVENUE,R5B,B1,1.0,2000.0,2910.0,...,NaN,NaN,4.0,4.036110e+09,1012595.0,197764.0,13d,0106000020E61000000100000001030000000100000005...,NaN,Central One & Two Family Buildings
2,BK,2566,4.0,11222.0,118 FRANKLIN STREET,R6B,C3,2.0,1750.0,3450.0,...,Greenpoint Historic District,NaN,3.0,3.025660e+09,996120.0,204802.0,12c,0106000020E61000000100000001030000000100000005...,NaN,Multi-Family Walk-Up Buildings
3,BX,4403,1.0,10469.0,2203 WICKHAM AVENUE,R3X,A1,1.0,4078.0,1558.0,...,NaN,NaN,2.0,2.044030e+09,1029732.0,251913.0,4a,0106000020E6100000010000000103000000010000000B...,NaN,Central One & Two Family Buildings
4,BX,4403,12.0,10469.0,2214 GUNTHER AVENUE,R3X,A1,1.0,5367.0,1582.0,...,NaN,NaN,2.0,2.044030e+09,1029618.0,251931.0,4a,0106000020E61000000100000001030000000100000008...,NaN,Central One & Two Family Buildings